<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/user-profile.css">
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="css/setting.css">

</head>

<body class="bg-base" background="image/background.jpeg">
    <div id="content">

	<header class="header-base">
			<div class="search-area">
				<a href="main.html" style="display:block;margin-left:15px;float:left;">
					<span class="title">
						PANEE
					</span>	
				</a>
				<span style="display:block;float:left;margin-left:25px;margin-top:13px;">
					<input type="text" name="keyword" id="search_keyword" class="search-bar" style="outline:none" maxlength="30" value="검색" autocomplete="off" title="검색어 입력" onfocus="ff_focus();" onblur="ff_blur();">
				</span>
					<button type="image" class="btn-search" style="border:0;float:left;margin-top:16px;margin-left:16px;"></button>
					<span style="display:block;float:left;margin-left:20px;margin-top:14px;">
						<button style="width: 100px;height: 28px;border: 0;border-radius: 10px;color: white;font-size: 16px;">판매</button>
					</span>

					<span style="position:relative;display:block;float:left;margin-left:20px;margin-top:14px;">
						<button id="guild" style="width: 100px;height: 28px;border: 0;color: white;font-size: 16px;background-color:#170F36;">
						길드
							<div id="myDropdown" class="dropdown-content">
    							<a href="#home">#프랑스자수</a>
    							<a href="#about">#뜨개질</a>
    							<a href="#contact">#피아노</a>
  							</div>	

						</button>
						<img src="" />
					</span>
					<!-- <img src="image/main-head/p_0047_search_btn.png" /> -->
			</div>
			<div class="user-info-area">
				<ul>
					<a href="user_profile.html">
						<li style="margin-left: 34px">
							<span style="position:relative;">
								<img src="image/main-head/p_0045_main_profile_pic.png" width="40px" height="40px" style="margin-top:10px"/>
							</span>
						</li>
					</a>
					<li style="margin:22px 5px">
						<!-- <a href="#"> -->
							<span class="userid" style="margin-top:20px;">hayul115</span>
						<!-- </a>		  -->
					</li>
					<li style="margin-top:10px;">
						<span>
							<img src="image/main-head/p_0020_alram_click.png" width="40px" height="40px"/>
						</span>
					</li>
					<li style="margin-top:10px;">
						<span id="guild2" style="width:30px;height:30px;display:inline-block;">
							<img  src="image/main-head/p_0019_setting_click.png" width="40px" height="40px"/>
						<!-- 통계, 회원정보변경, 주문관리 판 설정 길드설정 공지사항 고객센터 신고하기 로그아웃 -->
							<div id="my-setting-dropdown" class="dropdown-content">
    							<a href="#home">통계</a>
    							<a href="#about">회원정보변경</a>
    							<a href="#contact">주문관리 판 설정</a>
    							<a href="#contact">길드설정</a>
    							<a href="#contact">공지사항</a>
    							<a href="#contact">고객센터</a>
    							<a href="#contact">신고하기</a>
    							<a href="#contact">로그아웃</a>
  							</div>	
						</span>	
					</li>
				</ul>
			
				
				<!-- <img src="image/main-head/p_0007_profile_bg.png" width="40px" height="40px"/> -->
			</div>
		</header>

		</div>

		<div class="setting-menu">
			<div class="setting-colum stats"><a href="#">통계</a></div>
			<div class="setting-colum"><a href="#">회원정보변경</a></div>
			<div class="setting-colum"><a href="#">주문관리</a></div>
			<div class="setting-colum">판 설정</div>
			<div class="setting-colum">길드 설정</div>
			<div class="setting-colum">공지사항</div>
			<div class="setting-colum">신고하기</div>
		</div>

	</body>

	</html>


