<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{{ url_for('main.css_static', filename='base.css') }}">
	<link rel="stylesheet" href="{{ url_for('main.css_static', filename='detail.css') }}">

	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body class="bg-base" background="{{ url_for('main.img_static', filename='background.jpeg') }}">
    <div id="content">
<body class="bg-base" background="{{ url_for('main.img_static', filename='background.jpeg') }}">
	<div id="light" style="display:none;">
    	<div class="white_content"> <img src="{{ url_for('main.img_static', filename='view_png/16269_shop1_862135.png') }}" height="340"/>
			<!-- <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a> -->
     	
     		<div style="position:relative;width:85%;margin: 50px auto 0;">
     			<div>
     				댓글
     			</div>
     		
     			<div style="position:relative;background-color:#E9E9E9;border-radius:10px;height:100px;width:100%;">
     				<div style="float:left;width:15%;">
     					<img src="{{ url_for('main.img_static', filename='view_png/_0001_comment_profile_pic.png') }}" style="width:68px;margin:15px;"/>
     				</div>
     				<div style="float:left;width:70%;">
                        <label>
                            <textarea name="write_talk" cols="75" rows="4" style="margin-top:20px;"></textarea>
                        </label>
                    </div>
     				<div style="float:left;width:15%;">
     					<img src="{{ url_for('main.img_static', filename='view_png/btn_comment_register.png') }}" style="width:100px;margin:17px 0px 15px;" />
     				</div>
     			</div>
     			
     			<div style="position:relative;background-color:#E9E9E9;border-radius:10px;height:150px;width:100%;margin-top:15px;">
     				<div>
     					<div style="float:left;width:15%;">
     						<img src="{{ url_for('main.img_static', filename='view_png/_0001_comment_profile_pic.png') }}" style="width:30px;margin:15px 40px;"/>
     					</div>
     					<div style="float:left;width:80%;position:relative;">
     						<span style="display:block;margin:20px 5px;"><span style="color: #AAAAAA;; ">idoiod9</span> &nbsp; 헐너무 이뻐요 어디서 배우신거에요? 독학?

     							<span style="position:absolute;right:10px;color:#AAAAAA;font-size:13px;">16.01.03 15:00</span>
     						</span>
     					</div>
     				</div>
     				
     			</div>

			
     		</div>

     	</div>
     	

     	<div class= "pop_user_profile">
     		<div style="margin:15px 15px;">
     			프로필 정보
     		</div>
     		<div style="height:111px;">
     			<div style="float:left;margin-left:15px;"><img src="{{ url_for('main.img_static', filename='main-head/p_0045_main_profile_pic.png') }}" style="margin-top:10px"/></div>
     			<div style="float:left;margin:15px 15px;">
     				<div style="background-color:#9D9D9D;font-size:14px;padding:5px;">justyout</div> 
     				<div style="background-color:#46918D;color:white;font-size:14px;padding:5px;margin-top:10px;">판매게시물</div>
     			</div>
     		</div>
     		
     		<div style="margin-left:15px;">핵심 해시태그</div>
     		<div style="margin: 15px 15px;">
				<button>#저스트유</button>
				<button>#폼폼이</button>
				<button>#꿀떡</button>
				<button>#핸드폰케이스</button>
     		</div>
    	 </div>
    	 <div>
    	 	
    	 </div>
    	 
    	 <div class= "pop_sell_info">
    	 	<div style="margin:15px 25px;">
    	 		판매정보
    	 	</div>
    	 	<div style="height:35px">
    	 		<div style="float:left;margin-left:25px;">판매가격</div>
    	 		<div style="float:right;margin-right:25px;">15.0</div>
    	 	</div>
    	 	<div style="height:35px">
    	 		<div style="float:left;margin-left:25px;">판매수량</div>
    	 		<div style="float:right;margin-right:25px;">5</div>
    	 	</div>
    	 	<div style="height:35px">
    	 		<div style="float:left;margin-left:25px;">1인당 갯수</div>
    	 		<div style="float:right;margin-right:25px;">1</div>
    	 	</div>
    	 	
    	 	<div style="height:35px">
    	 		<div style="float:left;margin-left:25px;">배송지역</div>
    	 		<div style="float:right;margin-right:25px;">대구</div>
    	 	</div>
    	 	
    	 	<div style="height:35px;">
    	 		<div style="margin-left:10px;border-radius:10px;float:left;width:80px;background-color:#9D9D9D;font-size:14px;padding:15px;text-align:center;">좋아요</div> 
				<div style="margin-left:5px;border-radius:10px;float:left;width:80px;background-color:#CCA229;font-size:14px;padding:15px;text-align:center;">구매하기</div> 

    	 	</div>
    	 	
     	 </div>

	</div>

    <div id="fade" class="black_overlay"></div>



		<header class="header-base">
			<div class="search-area">
				<a href="main.html" style="display:block;margin-left:15px;float:left;">
					<span class="title">
						PANEE
					</span>	
				</a>
				<span style="display:block;float:left;margin-left:25px;margin-top:13px;">
					<input type="text" name="keyword" id="search_keyword" class="search-bar" style="outline:none" maxlength="30" value="검색" autocomplete="off" title="검색어 입력" onfocus="ff_focus();" onblur="ff_blur();">
				</span>
					<button type="image" class="btn-search" style="border:0;float:left;margin-top:16px;margin-left:16px;"></button>



					<span style="display:block;float:left;margin-left:20px;margin-top:14px;">
						<button style="width: 100px;height: 28px;border: 0;border-radius: 10px;color: white;font-size: 16px;">판매</button>
					</span>

					<span style="position:relative;display:block;float:left;margin-left:20px;margin-top:14px;">
						<button id="guild" style="width: 100px;height: 28px;border: 0;color: white;font-size: 16px;background-color:#170F36;">
						길드
							<div id="myDropdown" class="dropdown-content">
    							<a href="#home">#프랑스자수</a>
    							<a href="#about">#뜨개질</a>
    							<a href="#contact">#피아노</a>
  							</div>	

						</button>
					</span>

					<script>
					$("#guild").hover(function(){
						myFunction();
					    // $(this).css("background-color", "yellow");
    				}, function(){
    					myFunction();
    					// $(this).css("background-color", "pink");
					});

					$("#guild2").hover(function(){
						myFunction();
					    // $(this).css("background-color", "yellow");
    				}, function(){
    					myFunction();
    					// $(this).css("background-color", "pink");
					});

					/* When the user clicks on the button, 
					toggle between hiding and showing the dropdown content */
					function myFunction() {
					    document.getElementById("myDropdown").classList.toggle("show");
					}

					// Close the dropdown if the user clicks outside of it
					window.hover = function(event) {
					  if (!event.target.matches('.dropbtn')) {

					    var dropdowns = document.getElementsByClassName("dropdown-content");
					    var i;
					    for (i = 0; i < dropdowns.length; i++) {
					      var openDropdown = dropdowns[i];
					      if (openDropdown.classList.contains('show')) {
					        openDropdown.classList.remove('show');
					      }
					    }
					  }
					}
					</script>

					<!-- <img src="{{ url_for('main.img_static', filename="main-head/p_0047_search_btn.png") }}") }} /> -->
	
			</div>
			<div class="user-info-area">
				<ul>
					<a href="user_profile.html">
						<li style="margin-left: 34px">
							<span style="position:relative;">
								<img src="{{ url_for('main.img_static', filename='main-head/p_0045_main_profile_pic.png') }}" width="40px" height="40px" style="margin-top:10px"/>
							</span>
						</li>
					</a>
					<li style="margin:22px 5px">
						<!-- <a href="#"> -->
							<span class="userid" style="margin-top:20px;">hayul115</span>
						<!-- </a>		  -->
					</li>
					<li style="margin-top:10px;">
						<span>
							<img src="{{ url_for('main.img_static', filename='main-head/p_0020_alram_click.png') }}" width="40px" height="40px"/>
						</span>
					</li>
					<li style="margin-top:10px;">
						<span style="width:30px;height:30px" id="guild2">
							<img src="{{ url_for('main.img_static', filename='main-head/p_0019_setting_click.png') }}" width="40px" height="40px"/>
						</span>	
					</li>
				</ul>
			
				
				<!-- <img src="{{ url_for('main.img_static', filename="main-head/p_0007_profile_bg.png") }}") }} width="40px" height="40px"/> -->
			

			
				
				
				
			</div>
		</header>

		<div class="menu-base">
			<div style="position:relative;z-index: 100;">
				<ul class="gnb">
					<li><button class="btn-menu">인기></button></li>
					<li><button class="btn-menu">#의류</button></li>
					<li><button class="btn-menu">#악세서리</button></li>
					<li><button class="btn-menu">#그림</button></li>
					<li><button class="btn-menu">#요리</button></li>
					<li><button class="btn-menu">#사진</button></li>
					<li><button class="btn-menu">#조립</button></li>
					<li><button class="btn-menu">#생활용품</button></li>
					<li><button class="btn-menu">#선물</button></li>
				</ul>
			</div>

			<div class="price-menu-area">
				<p>
    				<span class="segmented">
        				<label><input type="radio" name="fruit" value="apple" checked><span class="label">낮은 가격순</span></label>
        				<label><input type="radio" name="fruit" value="grape"><span class="label">높은 가격순</span></label>
        				<label><input type="radio" name="fruit" value="orange"><span class="label">최신순</span></label>
        				<label><input type="radio" name="fruit" value="orange"><span class="label">인기순</span></label>
    				</span>
				</p>
			</div>
		</div>

		
		<div class="content-list-area">
			<div class="main-content">
				<a href = "javascript:void(0)"  onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
					<div class="product-area">
						<span>
							<img src="{{ url_for('main.img_static', filename='main-deal/p_0009_pic_ex.png') }}" style="width:100%;height:150px;"/>
						</span>
					</div>
				</a>
				
				<div class="profile-area">
					<span style="position: relative">
						<img src="{{ url_for('main.img_static', filename="main-deal/p_0040_profile_pic.png") }}" width="50px" height="50px"/>
						<div style="background-color:gray;margin:5px;color:white;">
							ppapu
						</div>
						<div style="background-color:#3D0820;padding:4px;color:white;margin-top:20px;">
							12.0
						</div>
						<div style="background-color:#DBDCDD;padding:4px;color:white;">
						<img src="{{ url_for('main.img_static', filename="main-deal/p_0031_comment_icon.png") }}" width="15" height="12" />
						<span style="font-size:12px;">
						15
						</span>
						</div>
					</span>
				</div>

				<div class="product-title-area" style="background-color: #dc552c;color:white;">
					<div class="product-title">수세미 팝니다. 500원</div>
				</div>

				<div>
					&nbsp;
					<button class="btn-hash-tag">#빠푸</button>
					<button>#빠푸</button>
					<button>#빠푸</button>
					<button>#빠푸</button>
				</div>
			</div>

		<div class="main-content">
				<a href = "javascript:void(0)"  onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
					<div class="product-area">
						<span>
							<img src="{{ url_for('main.img_static', filename="main-deal/p_0009_pic_ex.png") }}" style="width:100%;height:150px;"/>
						</span>
					</div>
				</a>
				
				<div class="profile-area">
					<span style="position: relative">
						<img src="{{ url_for('main.img_static', filename="main-deal/p_0040_profile_pic.png") }}") }} width="50px" height="50px"/>
						<div style="background-color:gray;margin:5px;color:white;">
							ppapu
						</div>
						<div style="background-color:#3D0820;padding:4px;color:white;margin-top:20px;">
							12.0
						</div>
						<div style="background-color:#DBDCDD;padding:4px;color:white;">
						<img src="{{ url_for('main.img_static', filename="main-deal/p_0031_comment_icon.png") }}") }} width="15" height="12" />
						<span style="font-size:12px;">
						15
						</span>
						</div>
					</span>
				</div>

				<div class="product-title-area" style="background-color: #137ea1;color:white;">
					<div class="product-title">수세미 팝니다. 500원</div>
				</div>

				<div>
					&nbsp;
					<button class="btn-hash-tag">#빠푸</button>
					<button>#빠푸</button>
					<button>#빠푸</button>
					<button>#빠푸</button>
				</div>
			</div>

			<div class="main-content">
				<a href = "javascript:void(0)"  onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
					<div class="product-area">
						<span>
							<img src="{{ url_for('main.img_static', filename="main-deal/p_0009_pic_ex.png") }}" style="width:100%;height:150px;"/>
						</span>
					</div>
				</a>
				
				<div class="profile-area">
					<span style="position: relative">
						<img src="{{ url_for('main.img_static', filename="main-deal/p_0040_profile_pic.png") }}" width="50px" height="50px"/>
						<div style="background-color:gray;margin:5px;color:white;">
							ppapu
						</div>
						<div style="background-color:#3D0820;padding:4px;color:white;margin-top:20px;">
							12.0
						</div>
						<div style="background-color:#DBDCDD;padding:4px;color:white;">
						<img src="{{ url_for('main.img_static', filename="main-deal/p_0031_comment_icon.png") }}" width="15" height="12" />
						<span style="font-size:12px;">
						15
						</span>
						</div>
					</span>
				</div>

				<div class="product-title-area" style="background-color: #faa21e;color:white;">
					<div class="product-title">수세미 팝니다. 500원</div>
				</div>

				<div>
					&nbsp;
					<button class="btn-hash-tag">#빠푸</button>
					<button>#빠푸</button>
					<button>#빠푸</button>
					<button>#빠푸</button>
				</div>
			</div>

			<div class="main-content">
				<a href = "javascript:void(0)"  onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
					<div class="product-area">
						<span>
							<img src="{{ url_for('main.img_static', filename="main-deal/p_0009_pic_ex.png") }}" style="width:100%;height:150px;"/>
						</span>
					</div>
				</a>
				
				<div class="profile-area">
					<span style="position: relative">
						<img src="{{ url_for('main.img_static', filename="main-deal/p_0040_profile_pic.png") }}" width="50px" height="50px"/>
						<div style="background-color:gray;margin:5px;color:white;">
							ppapu
						</div>
						<div style="background-color:#3D0820;padding:4px;color:white;margin-top:20px;">
							12.0
						</div>
						<div style="background-color:#DBDCDD;padding:4px;color:white;">
						<img src="{{ url_for('main.img_static', filename="main-deal/p_0031_comment_icon.png") }}" width="15" height="12" />
						<span style="font-size:12px;">
						15
						</span>
						</div>
					</span>
				</div>

				<div class="product-title-area">
					<div class="product-title">수세미 팝니다. 500원</div>
				</div>

				<div>
					&nbsp;
					<button class="btn-hash-tag">#빠푸</button>
					<button>#빠푸</button>
					<button>#빠푸</button>
					<button>#빠푸</button>
				</div>
			</div>
    </div>

	<div class="content-list-area">
			<div class="main-content">
				<a href = "javascript:void(0)"  onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
					<div class="product-area">
						<span>
							<img src="{{ url_for('main.img_static', filename="main-deal/p_0009_pic_ex.png") }}" style="width:100%;height:150px;"/>
						</span>
					</div>
				</a>
				
				<div class="profile-area">
					<span style="position: relative">
						<img src="{{ url_for('main.img_static', filename="main-deal/p_0040_profile_pic.png") }}" width="50px" height="50px"/>
						<div style="background-color:gray;margin:5px;color:white;">
							ppapu
						</div>
						<div style="background-color:#3D0820;padding:4px;color:white;margin-top:20px;">
							12.0
						</div>
						<div style="background-color:#DBDCDD;padding:4px;color:white;">
						<img src="{{ url_for('main.img_static', filename="main-deal/p_0031_comment_icon.png") }}" width="15" height="12" />
						<span style="font-size:12px;">
						15
						</span>
						</div>
					</span>
				</div>

				<div class="product-title-area" style="background-color: #3895d0;color:white;">
					<div class="product-title">수세미 팝니다. 500원</div>
				</div>

				<div>
					&nbsp;
					<button class="btn-hash-tag">#빠푸</button>
					<button>#빠푸</button>
					<button>#빠푸</button>
					<button>#빠푸</button>
				</div>
			</div>
	

	<div class="floating-footer-menu">
		<a onmouseover="mouse(0);" onmouseout="focusOut(0);" class="floating-menu" href="#"><img style="width:40px;height:40px" src="{{ url_for('main.img_static', filename="floating-menu/_0000_favorite_btn.png") }}" /><div id="favoriteProduct" class="floating-word">즐겨찾기</div></a>
		<a onmouseover="mouse(1);" onmouseout="focusOut(1);" class="floating-menu" href="#"><img style="width:40px;height:40px" src="{{ url_for('main.img_static', filename="floating-menu/p_0014_orderCondition_btn.png") }}" /><div id="orderCart" class="floating-word">주문상태</div></a>
		<a onmouseover="mouse(2);" onmouseout="focusOut(2);" class="floating-menu" href="#">
			<img style="width:40px;height:40px" src="{{ url_for('main.img_static', filename="floating-menu/p_0016_write_btn.png") }}" />
			<div id="sellProduct" class="floating-sell-product">내 판매게시물</div>
		</a>
		<a onmouseover="mouse(3);" onmouseout="focusOut(3);" class="floating-menu" href="#">
			<img style="width:40px;height:40px" src="{{ url_for('main.img_static', filename="floating-menu/p_0015_sell_btn.png") }}" />
			<div id="writeContent" class="floating-sell-product">게시물 작성 </div>
		</a>
		<a class="floating-menu" href="#"><img style="width:40px;height:40px" src="{{ url_for('main.img_static', filename="floating-menu/p_0017_top_btn.png") }}" /></a>
	</div>

</body>
<script>
function test() {
	alert("TEST");
}

function mouse(index) {
	if(index == 0) {
		$('#favoriteProduct').show();
	} else if(index == 1) {
		$('#orderCart').show();
	} else if(index == 2) {
		$('#sellProduct').show();
	} else {
		$('#writeContent').show();
	}
}

function focusOut(index) {
	if(index == 0) {
		$('#favoriteProduct').hide();
	} else if(index == 1) {
		$('#orderCart').hide();
	}  else if(index == 2) {
		$('#sellProduct').hide();
	} else {
		$('#writeContent').hide();
	}
}
</script>

</html>