before_script:
  - apt-get update -qq && apt-get install -y -qq sqlite3 libsqlite3-dev python3 python3-pip
  - ln -s -T /usr/include/freetype2/ /usr/include/freetype
  - pip3 install -r requirements/dev.txt
  - mkdir app/uploads


flask:
  script:
    - python3 test_panee.py
