<!doctype html>
<!--suppress ALL -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{{ url_for('main.css_static', filename="base.css") }}">
	<link rel="stylesheet" href="{{ url_for('main.css_static', filename="user-profile.css") }}">
	<link rel="stylesheet" href="{{ url_for('main.css_static', filename="login.css") }}">
	
</head>

<body class="bg-base" background="{{ url_for('main.img_static', filename="background.jpeg") }}">
    <div id="content">
		<div style="position:relative">
			<div style="margin-top:100px;">
				<a class="login-title" href="{{ url_for('main.index') }}">
					PANEE
				</a>
			</div>

			<div class="login-area">

				<div style="width:55%;margin:0 auto;float:left;text-align: center;">
					<div id="sign-up-step1">
						<span style="font-weight:bold;font-size: 19px;display: block;margin-top:52px;margin-right:30px;">회원가입</span>
						<div style="text-align: center;font-size:14px;margin-bottom:10px;">
							드디어 당신을 만났네요 반가워요
						</div>

						<div style="margin-right:52px;">
							ID
							<input type="text" />
							<button class="btn-confirm-id" style="margin-left:10px;"></button>
							<!-- < -->
							<!-- _0020_id_confirm -->
						</div>
						<div style="margin-right:53px;margin-top:5px;">
							PW		
							<input type="text" />
							<!-- < -->
							<!-- _0020_id_confirm -->

							<img src="{{ url_for('main.img_static', filename="login_png/_0022_register_profile.png") }}" width="90px" height="90px"  style="position: absolute;margin-left:5px;"/>

						</div>
						<div style="margin-right:52px;">
							<span style="font-size: xx-small; ">6~16자 영문 대 소문자, 숫자,</span><br />
							<span style="font-size: xx-small; ">특수문자를 사용하세요.</span>
						</div>
						<div style="margin-right:77px;">
							PW 확인
							<input type="text" />
							<!-- < -->
							<!-- _0020_id_confirm -->
						</div>
						
						
						
						<div>
							<button class="btn-signup-process" onclick="nextStep();">1/2</button>
						</div>
					</div>
					<div id="sign-up-step2">
						<span style="font-weight:bold;font-size: 19px;display: block;margin-top:20px;text-align:left;margin-left:30px;margin-bottom:24px;">회원가입</span>

						<div class="sign-up-line">
							<label>생년월일</label>
							<select name="job">
    							<option value="">년</option>
							    <option value="학생">학생</option>
							    <option value="회사원">회사원</option>
							    <option value="기타">기타</option>
							</select>
							<select name="job">
    							<option value="">월</option>
							    <option value="학생">학생</option>
							    <option value="회사원">회사원</option>
							    <option value="기타">기타</option>
							</select>
							<select name="job">
    							<option value="">일</option>
							    <option value="학생">학생</option>
							    <option value="회사원">회사원</option>
							    <option value="기타">기타</option>
							</select>
						</div>
						<div class="sign-up-line">
							이메일
							<input type="text" />
							<button class="btn-confirm-email"></button>
						</div>
						<div class="sign-up-line">
							휴대폰
							<input type="text" />
							<button class="btn-confirm-phone"></button>
						</div>
						<div class="sign-up-line">
							주소
							<input type="text"  style="width:50px;" /> - <input type="text" style="width:50px;" />
							<button class="btn-confirm-id"></button>
						</div>
						<div>
							<input type="text" style="margin-bottom:3px;" />
							<br />
							<input type="text" />
						</div>

						<div>
							<button class="btn-signup-process" onclick="completeSignUp();">확인</button>
						</div>

					</div>
				</div>
				<img src="{{ url_for('main.img_static', filename="login_png/_0039_line.png") }}" class="line-image" />
				<div style="width:45%;float:left;">
					<div style="margin-left:18px;">
						<div style="padding-top:65px;margin-bottom:5px;">
							<label>ID</label>
							&nbsp;
							<input type="text" />
							<button class="btn-login"></button>
						<!-- < -->
						<!-- _0020_id_confirm -->

						</div>
						<div>
							<label>PW</label>
							<input type="text" />
							<!-- < -->
							<!-- _0020_id_confirm -->
						</div>
						<div style="margin-top:15px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="#">회원가입</a>
							&nbsp;
							<a href="#">아이디/비밀번호 찾기</a> 
						</div>

						<div>
							<!-- <button class="btn-signup" onclick="location.href = '{{ url_for('user.facebook_login', _external=True) }}';">페이스북으로 로그인하기</button> -->
                            <button class="btn-signup" onclick="alert('준비중입니다');">페이스북으로 로그인하기</button>
						</div>
						<div>
							<button class="btn-signup">인스타그램으로 로그인하기</button>
						</div>
						<div>
							<button class="btn-signup">페이스북으로 로그인하기</button>
						</div>

					</div>
				</div>
		</div>
	</div>
        </div>
</body>

</html>

<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
	function nextStep() {
		$('#sign-up-step1').hide();
		$('#sign-up-step2').show();
	}

	function completeSignUp() {
		alert("SIGN UP COMPLETE");
	}
</script>
