.user-profile-base {
	position: relative;
	width: 1010px;
	margin:0 auto;
}

.user-introduce-area {
		background: url("../image/user-profile/_0039_subbar_profile_bg.png") no-repeat;

	position:relative;
	width:1010px;
	height: 152px;
	margin:0 auto;
}

.img-user-bg {
	width:100%;
}


.all-button {
	background: url("../image/user-profile/all_sub.png") no-repeat;
	background-size: 105px 37px;
	width:105px;
	height:37px;
	float:left;
}

.withbody {
	background: url("../image/user-profile/withbody_sub.png") no-repeat;
	background-size: 105px 37px;
	width:105px;
	height:37px;
	float:left;
}

.guild_tag {
	background-color:#9c0628;
	color:white;
	font-size:13px;
}


