<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>서재원 포트폴리오</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="title" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="jaewon"/>
    <meta name="revisit-after" content="15"/>
    <meta name="language" content="ko"/>
    <meta name="copyright" content="© 2016 chocholand"/>
    <meta name="robots" content="All"/>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16"/>
    <link rel="stylesheet" href="assets/stylesheets/main.css" />

</head>
<body>
<div class="app" ng-controller="MainCtrl">
    <div ng-include src="'views/_layouts/_header.html'"></div>
    <div class="view" ui-view></div>
</div>

<!-- bower:js -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="lib/angular-touch/angular-touch.js"></script>
<script src="lib/angular-messages/angular-messages.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<!-- endinject -->

<!-- ng:js -->
<script src="app.main.module.js"></script>
<script src="config/app.main.config.js"></script>
<script src="config/app.main.route.js"></script>
<script src="components/portfolioCard.js"></script>
<script src="controllers/app.main.controller.js"></script>
<!-- endinject -->
</body>
</html>
